.container{
    position: absolute;
    width: 500px;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 8px;
    padding: 15px 8px;
    .header{
        display: flex;
        justify-content: space-around;
        height: 40px;
        border: 1px solid rgba(1, 1, 1, 0.2);
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 5px;
        h3{
            margin-top: 7px;
        }
        .bt{
            display: flex;
            width: 170px;
            justify-content: space-between;
            margin: 5px 0;
        }
    }
    .eachLine{
        display: flex;
        margin-bottom: 10px;
        div{
            width: 105px;
            margin-top: 4px;
        }
    }
    .block{
        border: 1px solid rgba(1, 1, 1, 0.2);
        border-radius: 8px;
        margin-bottom: 5px;
        padding: 5px;
        height: 220px;
        overflow: auto;
        position: relative;
        .tag{
            position: fixed;
            background-color: white;
            border-radius: 5px;
            margin-top: -5px;
        }
        .eachMsgSend{
            margin: 5px 5px 5px 39px;
            background-color: aquamarine;
            border-radius: 8px;
            padding: 5px 10px;
            overflow-wrap: break-word; /* 兼容性更好的自动换行 */
            max-width: 100%; /* 设置最大宽度，以免内容过长 */
        }
        .eachMsgRecv{
            margin: 5px 5px 5px 39px;
            background-color:aqua;
            border-radius: 8px;
            padding: 5px 10px;
            overflow-wrap: break-word; /* 兼容性更好的自动换行 */
            max-width: 100%; /* 设置最大宽度，以免内容过长 */
        }
    }

}